/*Startsida*/

.page-wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.navbar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.navbar::before{
  background: url(https://www.pngkey.com/png/detail/37-370781_mmg-all-planets-png.png) center;
  transform: translate(-5px) scale(1.5);
}


